body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    margin-bottom: 200px;
}

label #open,
label #close{
    color: black;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
#home{
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), crimson, white), url(images/top-banner.png);
    background-repeat: no-repeat;
}
.nav{
    padding: 0px 80px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    z-index:3;
}
.nav img{
    position: fixed;
}
.nav ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav ul li{
    display: inline-flex;
    margin-left: 30px;
}
.nav a{
    font-size: 21px;
    color: crimson;
    font-weight: 600;
    text-transform: uppercase;
}
.nav a:hover{
    color: darkblue;
    background-color: aqua;    
}
.flex-container{
    margin: 80px 80px;
    display: flex;
}
.half-width{
    width: 50%;
    margin: 0px 30px;
}
.half-width h2{
    font-weight: 800;
    font-size: 2em;
    color:rgb(38, 38, 61);
    line-height: 0;
}
.half-width h1 span{
    font-weight: 800;
    font-size: 1.6em;
    color: crimson;
    line-height: 0;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #ca1032,
    1px 2px 1px rgb(206, 120, 137),
    1px 3px 1px rgb(206, 120, 137),
    1px 4px 1px rgb(206, 120, 137),
    1px 5px 1px rgb(206, 120, 137),
    1px 6px 1px rgb(206, 120, 137),
    1px 7px 1px rgb(206, 120, 137),
    1px 8px 1px rgb(206, 120, 137),
    1px 9px 1px rgb(206, 120, 137),
    1px 10px 1px rgb(206, 120, 137);
}
.half-width h1{
    font-weight: 600;
    font-size: 1.5em;
    color: blue;
    line-height: 0;
}

.half-width h4{
    font-size: 1.8em;
    padding-top: 80px;
    color: rgb(46, 46, 85);
}
.half-width p{
    text-align: justify;
    font-size: 21px;
}
.half-width button a{
    text-transform: uppercase;
    color: skyblue;
    font-size: 30px;
}
.half-width button{
    padding:10px ;
    border-radius: 12px;
    background-image: linear-gradient(crimson, rgb(23, 23, 83));
}
.half-width button:hover{
    background: white;
}
.half-width button a:hover{
    color: red;
}
.half-width img{
    width: 100%;
    z-index:2;
}
.img-border{
    position: relative; 
}
.img-border:after{
    position: absolute;
    content: "";
    top: 30px;
    right: 10px;
    border-radius: 50%;
    border: 30px solid orangered;
    width: 50%;
    height: 50%;
}


/* About section */
#about{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.about-title{
    text-align: center;
    color: rgb(10, 242, 250);
    font-size:50px;
}
/* experiance */
#experiance{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
h1.exp{
    font-size: 50px;
}
.card1{
    width: 50%;
    padding: 30px;
    margin-right: 30px;
    border-left: 50px solid ;
    border-image: linear-gradient(orange, crimson);
    border-image-slice: 1;   
}
.card2{
    width: 50%;
    padding: 30px;
    margin-left: 30px;
    border-right: 50px solid ;
    border-image: linear-gradient(crimson, rgb(23, 23, 83));
    border-image-slice: 1;   

}
.experiance h1{
    font-size: 40px;
}
.experiance h3{
    font-size: 22px;
    color: blue;
}
.experiance{
    display: flex;
    margin: 60px 60px ;
}
.experiance p{
    font-size: 18px;
    line-height: 1.5em;
}
.experiance div{
    box-shadow: 10px 10px 40px rgb(34, 1, 1);
    height: 300px;
}


/* contact */

#contact{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(white,rgba(245, 245, 245, 0.1),white),url(images/slide_5.jpg);
    display: flex;
    justify-content: center;
    align-items: center;

}
form h1{
    text-align: center;
    font-size: 50px;
    color: crimson;
}
form{
    width: 90%;
    max-width: 600px; 
}
.input-group input{
    width: 100%;
    height: 20px; 
    margin-top: 10px;
    outline: none;  /* mouse click on input area defalt outline hide */
    padding: 10px 30px;
    border: 2px solid rgb(8, 8, 46);
    font-size: 20px;
    border-radius: 10px;
    background-color: transparent;
}
.input-group label{
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
}

textarea{
    margin-top: 30px;
    width: 100%;
    font-size: 21px;
    border: 2px solid rgb(8, 8, 46);
    border-radius: 10px;
    background-color: transparent;
    padding: 20px 30px;

}

.input-group button{
    width: 60%;
    padding: 5px 20px;
    background: crimson;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 50%;
}
/* Footer */
footer{
    text-align: center;
    font-size: 21px;
    color: rgb(66, 66, 68);
    font-weight: bold;
    padding:20px ;
    background-image: linear-gradient(white,rgb(138, 138, 196),rgb(43, 120, 143));
}
/* responsive area */

@media (max-width:600px){
    label #open, label #close{
        float: right;
        line-height: 100px;
    }
    .nav{
        padding: 0;
        margin: 0;
        display: block;
        width: 100%;
    }
    .nav img{
        padding: 10px 0px 0px 10px;
        position: relative;
    }
    label #open{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: fit-content;
        background: rgb(8, 8, 77);
        top: -100%;
        margin: 100px 0px;
        padding: 0px;
        text-align: center;
        transition:  all .5s;
    }
    .nav ul li{
        display: block;
        margin: 30px 0px;
    }
    .nav ul li a{
        font-size: 20px;
        text-align: center;
    }
    #check:checked~ul{
        top:0;
    }
    #check:checked~label #open{
        display: none;
        }
    #check:checked~label #close{
        display: block;
    }
}

@media (max-width:500px){
    section{
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }
    .flex-container{
        margin: 0px; /*margin-top: -30px; */
        padding: 0px; 
        width: 100%;
        display: block;
        text-align: center;
        
    }
    .half-width{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .half-width h1 span{
        margin-top:50px ;
        display: block;
        text-shadow: none;
        font-size: 35px;
    }
    .half-width h2{
        padding-top: 20%;
        font-size: 50px;
    }
    .half-width h1{
        margin-top: 50px;
        font-size: 30px;
    }
    .half-width h4{
        margin: 4em 0em 0em 0em;
        padding: 0;
        font-size: 1.2em;
        color: rgb(64, 16, 197);
    }
    .half-width p{
        padding: 0px 20px;
        font-size: 18px;
        color: white;
    }
    #about p{
        color: black;
    }
    .half-width button{
        padding: 5px 50px;
        margin: 0px 20px;
        width: 80%;
        height: fit-content;
    }
    .half-width button a{
        font-size: 18px;
    }
    .half-width img{
        width: 85%;
        padding: 0px;
        margin: 50px 0px;
        padding: 0px 20px;
    }
    /* #experiance{
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
    } */
    #experiance h1{
        text-align: center;
        color:red;
    }
    .experiance{
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        text-align: center;
    }
    .experiance h1{
        font-size: 24px;
    }
    .experiance h3{
        font-size: 18px;
    }
    .experiance p{
        font-size: 17px;
        line-height: 1.2em;
        padding: 10px;
        text-align: left;
    }

    .card1{
        margin: 50px 5%;
        padding: 5px;
        width: 85%;
        height: 100%;
        border-left: 5px solid;
        border-image: linear-gradient(crimson, rgb(23, 23, 83));
        border-image-slice: 1;
    }
    .card2{
        margin: 50px 6%;
        padding: 5px;
        width: 85%;
        height: 100%;
        border-right: 5px solid;
        border-image: linear-gradient(crimson, rgb(23, 23, 83));
        border-image-slice: 1;
    }
     /* contact area */
    #contact{
        overflow: hidden;
        margin: 50px 0px;
        padding: 0px;
        display: block;
        width: 100%;
        height: fit-content;
        background-position: center;
    }
    form h1{
        color: rgb(143, 11, 110);
        font-size: 30px;
        
    }
    .input-group input{
        width: 90%;
        padding: 5px 20px;
        margin: 10px;
        height: fit-content;
        font-size: 15px;
    }
    textarea{
        width: 90%;
        padding: 5px 20px;
        margin: 10px;       
        height: fit-content;
        font-size: 15px;
        height: 90px;
    }

    .input-group button{
        width: 90%;
        padding: 5px 20px;
        margin: 10px 0px 0px 30px;
        background: crimson;
        font-size: 15px;
        cursor: pointer;
        border-radius: 15px;
        
    }
    /* form button{
        width: 70%;
        height: fit-content;
        padding: 5px;
        color: white ;
        background: crimson;
    } */

    footer{
        font-size: 12px;
    }
}
 
/* massage buttonk */
